{% extends "base.html" %}

{% block content %}
<section class="u-align-center u-clearfix u-section-1" id="sec-3e75">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h1 class="u-text u-text-default u-text-1">
      Страница не найдена
    </h1>
  </div>
</section>
<section class="u-align-center u-clearfix u-section-2" id="sec-8ebd">
  <div class="u-clearfix u-sheet u-sheet-1">
    
    <p class="u-text u-text-default u-text-2">
      Очевидно вы указали идентификатор, для которого в базе данных нет ссылки.
  </p>
  </div>
</section>
{% endblock %}