{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center mb-3">
        {% block title %}
         <span style="color:red">Ya</span>Cut
         
        {% endblock %}</h1>
    <p><center><h7 class="text-center mb-3">укротитель ссылок</h7></center></p>
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" action="">
                {{ form.csrf_token }}
            <div>
                {{ form.original_link(class="form-control", placeholder=form.original_link.label.text) }}

            </div>
            <br>
            <div>
                {{ form.custom_id(class="form-control", placeholder=form.custom_id.label.text) }}
            </div>
            <br>
            <div>
                {{ form.lifetime(class="form-control", placeholder=form.lifetime.label.text) }}
            </div>
            <br>
            <div class="form-group text-center">
                {{ form.submit(class="btn btn-lg btn-primary") }}
            </div>
            </form>

            {% if short_url %}
            <hr>
            <span>Ваша новая короткая ссылка: <a href="{{ short_url }}">{{ short_url }}</a></span>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}